/* Общие стили */
body {
   transition: background-color 0.5s, color 0.5s;
}

body.light {
   background-color: white;
   color: black;
}

.bg-dark {
   color: white; /* Светлый текст */
}

body.dark {
   background-color: #121212; /* Темный фон */
   color: white; /* Светлый текст */
}

.list-group.dark {
   background-color: #505050; /* Темный фон */
   color: white;
}

/* Стили для кнопок и других элементов */
.btn {
   transition: background-color 0.5s, color 0.5s;
}

.btn-primary {
   background-color: #007bff;
   color: white;
}

.btn-primary:hover {
   background-color: #0056b3;
}

body.dark .btn-primary {
   background-color: #0056b3; /* Темная тема для кнопок */
}

 .chat-container {
   display: flex;
   height: 100vh;
}

.chat-sidebar {
   width: 250px;
   border-right: 1px solid #ddd;
   padding: 10px;
}

.chat-list {
   list-style-type: none;
   padding: 0;
}

.chat-item {
   padding: 10px;
   cursor: pointer;
}

.chat-item:hover {
   background-color: #f0f0f0;
}

.chat-window {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
}

.messages {
   flex-grow: 1;
   overflow-y: auto;
   padding: 10px;
}

.message {
   margin-bottom: 10px;
}

.sent {
   text-align: right;
}

.received {
   text-align: left;
}

#message-form {
   display: flex;
}

#message-input {
   flex-grow: 1;
}

a {
   color: #ddd;
}