{% extends "base.html" %}

{% block content %}
<h2>Список чатов</h2>

<ul class="list-group ">
{% for chat in chats %}
   <li class="list-group-item {{ 'bg-dark' if theme_value else 'bg-light' }}">
       <a href="{{ url_for('chat', chat_id=chat.id) }}">{{ chat.title }}</a>
       <p>{{ chat.description }}</p>
       <small>Проект: {{ chat.project.title if chat.project else 'Нет' }}</small>
   </li>
{% else %}
   <li class="list-group-item {{ 'bg-dark' if theme_value else 'bg-light' }}">Нет доступных чатов.</li>
{% endfor %}
</ul>

<a href="{{ url_for('new_chat') }}" class="btn btn-primary mt-3">Создать новый чат</a>

{% endblock %}