{% extends "base.html" %}

{% block content %}
<h2>Список чатов</h2>

<ul class="list-group ">
{% for chat in chats %}
<a href="{{ url_for('chat', chat_id=chat.id) }}">
   <li class="list-group-item {{ 'bg-dark' if theme_value else 'bg-light' }}">
       {{ chat.title }}
       <p>{{ chat.description }}</p>
       <small>Проект: {{ chat.project.title if chat.project else 'Нет' }}</small>
   </li>
</a>
{% else %}
   <li class="list-group-item {{ 'bg-dark' if theme_value else 'bg-light' }}">Нет доступных чатов.</li>
{% endfor %}
</ul>

{% if current_user.role_id == 1 or current_user.role_id == 2 %}
<a href="{{ url_for('new_chat') }}" class="btn btn-primary mt-3">Создать новый чат</a>
{% endif %}

{% endblock %}